<!--WR-INFO-->

<% params[:issue_ids].each_with_index do |issue_id, index| %>
    <% if issue = Issue.find_by_id(issue_id) %>
        <div class="content_issue <%= 'hide_logo' unless index.zero? %>" style="<%= 'page-break-before: always; page-break-after: always;' unless index.zero? %>">
          <%= render partial: 'attributes', locals: {issue: issue}%>
          <!--WR-INFO END-->

          <!--WR-FILES-->

          <%= render partial: 'files', locals: {issue: issue}%>
          <!--WR-FILES END-->

          <!--WR-IMAGES-->

          <%= render partial: 'images', locals: {issue: issue}%>
          <!--WR-IMAGES END-->

          <!--WR-HISTORY-->

          <%= render partial: 'history', locals: {issue: issue}%>
          <!--WR-HISTORY END-->

        </div>
    <% end %>
<% end %>

